[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
playwright = "*"
pymysql = "*"
python-dotenv = "*"
flask-cors = "*"
cryptography = "*"
flask = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
faker = "*"
pytest-mock = "*"
requests-mock = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.12"
