* {
  box-sizing: border-box;
}

body,
.principal-container {
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.principal-header {
  width: 100vw;
  background-color: #65b7da;
  text-align: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

h1,
h2 {
  color: #ff6e72;
  font-weight: 900;
}

p,
li {
  color: black;
}

.principal-footer {
  width: 100vw;
  background-color: #ff6e72;
  text-align: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

/*  
    #FF6E72
    #FFA9AC
    #65B7DA
    #EEEEEE
*/
