*{
  box-sizing: border-box;
}

body, .principal-container {
  font-family: Arial, sans-serif;
  background-color: #EEEEEE;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.principal-header {
  width: 100vw;
  background-color: #65B7DA;
  text-align: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

h1, h2 {
  color: #FF6E72;
  font-weight: 900;
}

p, li {
    color: black;
}

.principal-footer {
    width: 100vw;
    background-color: #FF6E72;
    text-align: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

/*  
    #FF6E72 Rosa fuerte
    #FFA9AC Rosa claro
    #65B7DA Azul claro
    #EEEEEE Blanco
*/
