/*
#FF6E72 Rosa Fuerte
#FFA9AC Rosa
#65B7DA Azul
#FFF5BA Amarillo
#DD7E6B Marron
#FCBA78 Naranja
*/

h1 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 100px;
  color: #ff6e72;
}

h2 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 30px;
}

/* Onda decorativa */
.onda {
  width: 100%;
}

/* Contenedor principal */
.principal-container {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffa9ac;
  background-size: 400% 400%;
  animation: cremoso 15s ease infinite;
}

/* Animación del fondo */
@keyframes cremoso {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Header */
.principal-header {
  text-align: center;
  background-color: #65b7da;
  color: white;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

/* Main */
.principal-main {
  flex: 1;
}

.sabores-section {
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border-radius: 16px;
  border: 2px solid #ffa9ac;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  flex: 1;
  max-width: 220px;
  color: #ff6e72;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s;
}

.card:hover {
  transform: translateY(-6px);
  border-color: #ff6e72;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

* {
  width: 100%;
}
